{% extends 'base.html' %}
{% block content %}
  <!-- Starts Main Section -->
  <div class="profile">
    <!-- Start Profile Personal Data Section -->
    <div class="profile-data">
      <div class="profile_img">
        <div class="image">
          <!-- Profile Image -->
          {% if object.profile.profile_picture %}
            <img src="{{ object.profile.profile_picture }}" alt="">
          {% else %}
            <img src="/static/images/person.png" alt="img8" />
          {% endif %}
        </div>
      </div>
      <div class="personal">
        <div class="edit">
          <!-- User Username -->
          {% if object.profile.first_name or object.profile.last_name %}
            {{ object.profile.get_profile_name }}
          {% else %}
            {{ object.profile.user.email }}
          {% endif %}
          <!-- IF the viewer is the owner of the profile -->
          {% if request.user.id == object.pk %}
            <!-- link to edit profile page -->
            <a href="{% url 'profile-edit' object.pk %}">
              <img class="edit-img"
                   src="/static/images/edit-pen-icon-6.jpg"
                   alt="edit button" />
            </a>
            <!-- link to delete profile page -->
            <a href="{% url 'profile-delete' object.pk %}">
              <img class="bin-img"
                   src="/static/images/icon-remove-22.jpg"
                   alt="bin button" />
            </a>
          {% endif %}
          <!-- End IF the viewer is the owner of the profile -->
        </div>
        <div class="data">
          <!-- Total Number of Photos by the User -->
          <span>{{ object.photo_set.count }}</span>
          <p>photos</p>
          <!-- Total Number of Pets owned by the User -->
          <span>{{ object.pet_set.count }}</span>
          <p>pets</p>
          <!-- Total Number of Likes for the User -->
          <span>{{ total_likes_count }}</span>
          <p>likes</p>
        </div>
        <!-- User First and Last Name IF Added -->
        {% if object.profile.first_name or object.profile.last_name %}
          <h3 class="names">{{ object.profile.get_profile_name }}</h3>
        {% endif %}
        <!-- User Email Address -->
        <p class="email">{{ object.profile.user.email }}</p>
        <!-- User Gender IF Added -->
        {# {% if object.profile.gender %}<p class="gender">Male</p>{% endif %} #}
      </div>
    </div>
    <!-- End Profile Personal Data Section -->
    <!-- Start Pets Data Section -->
    <div class="pets">
      <div class="statuses">
        {% for pet in object.pet_set.all %}
          <a href="{% url 'pet-details' object.email pet.slug %}">
            <div class="head-pet">
              <div class="status">
                <div class="image">
                  <!-- Pet Image -->
                  <img src="{{ pet.personal_photo }}" alt="pet img" />
                </div>
              </div>
              <!-- Pet Name -->
              <p>{{ pet.name }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- End Pets Data Section -->
    <!-- Start Last Uploaded Photos Section -->
    <div class="pet-photos">
      <!-- Link to Last Uploaded Pet Photo -->
      {% for photo in user_photos %}
        <a href="{% url 'photo-details' photo.pk %}">
          <!-- Pet Photo -->
          <img src="{{ photo.photo.url }}" alt="pet img" />
        </a>
      {% endfor %}
    </div>
    <!-- End Last Uploaded Photos Section -->
    <!-- IF NO Posts Show No Post Image -->
    {% if not object.photo_set.exists %}
      <img class="no-posts" src="/static/images/no_posts.png" alt="no posts" />
    {% endif %}
  </div>
{% endblock %}
